footer.footer
    .container
        .footer__row.row.no-gutters.align-items-center.justify-content-between
            .footer__col
                a.footer__logo(href="/" title="Компания ИНКАМ системный интегратор")
            .footer__col
                nav.navbar
                    .navbar__item
                        a.navbar__link(href="#") Услуги
                    .navbar__item
                        a.navbar__link(href="#") Продукты
                    .navbar__item
                        a.navbar__link(href="#") Проекты
                    .navbar__item
                        a.navbar__link(href="#") О компании
                    .navbar__item
                        a.navbar__link(href="#") Контакты
            .footer__col
                ul.contacts.contacts_inline
                    li.contacts__item
                        a.contacts__link.contacts__link_email(href="mailto:info@inkam.org.ru") info@inkam.org.ru
                    li.contacts__item
                        a.contacts__link.contacts__link_phone(href="tel:+7(495) 792-81-27") +7(495) 792-81-27
.footer-info
    .container
        .row
            .col-6.col-sm-12.text-sm-center
                p.mb-0.text-small © 2019. Все права защищены
            .col-6.col-sm-12.text-sm-center.text-right
                a.text-small.footer-info__link(href="/") Сайт разработан студией «SOHO»