*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: "Noto Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  color: #000000;
  text-align: left;
  background: #ffffff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 40px;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: 600;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #1F2029;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0FB5BF;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #242424;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 10px;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5em;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

html, body {
  font-size: 14px;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6,
* + .h1, * + .h2, * + .h3, * + .h4, * + .h5, * + .h6 {
  margin-top: 1.5rem;
}

.h1, h1 {
  font-size: 2.75rem;
}

.h2, h2 {
  font-size: 2.5rem;
}

.h3, h3 {
  font-size: 2rem;
}

.h4, h4 {
  font-size: 1.75rem;
}

.h5, h5 {
  font-size: 1.5rem;
}

.h6, h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.6;
}

p.small {
  font-size: .9em;
}

p.lead {
  font-size: 1.15em;
}

ol, ul {
  font-size: 1rem;
  padding: 0;
  margin-bottom: 1.25rem;
  padding-left: 1.25rem;
}

a {
  display: inline-block;
  outline: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

a:hover, a:focus {
  outline: none;
}

a.link-inverse {
  color: #0FB5BF;
}

a.link-inverse:hover {
  color: #1F2029;
}

a.link-white {
  color: #ffffff;
}

a.link-white:hover {
  color: #D1DFE0;
}

.p-relative {
  position: relative;
}

.p-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 101;
  background: #ffffff;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.d-none {
  display: none;
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: #000000;
}

.text-grey {
  color: #A5B5B7;
}

.text-blue {
  color: #0FB5BF;
}

.text-dark-blue {
  color: #373540;
}

.text-nowrap {
  white-space: nowrap;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-bold, strong, b {
  font-weight: 700;
}

.text-small, .service .service__company, .service .service__location, .vendor .vendor__link, small, .small {
  font-size: 12px;
  line-height: 16px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.img-fluid {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

.img-border {
  border: 4px solid #D1DFE0;
}

.blockquote, blockquote {
  padding: 30px;
  border: 1px solid #D1DFE0;
  display: inline-block;
  color: #373540;
}

.mt-0 {
  margin-top: 0px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mr-0 {
  margin-right: 0;
}

.ml-0 {
  margin-left: 0;
}

.pt-0 {
  padding-top: 0px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-40 {
  padding-bottom: 40px;
}

.bg-gradient {
  background: -o-linear-gradient(202.15deg, #0FB5BF 1.5%, #004E96 100%);
  background: linear-gradient(247.85deg, #0FB5BF 1.5%, #004E96 100%);
  color: #ffffff;
}

.bg-light {
  background: #E5F2F2;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

table, .table {
  font-size: 1rem;
  width: 100%;
}

table thead, table .thead, .table thead, .table .thead {
  background: #D1DFE0;
  color: #7B8E91;
  font-size: 12px;
  text-transform: uppercase;
}

table th, table td, .table th, .table td {
  padding: 12px 20px;
}

table tr + tr, .table tr + tr {
  border-top: 1px solid #D1DFE0;
}

@media all and (max-width: 1400px) {
  .d-xl-none {
    display: none;
  }
  .mt-xl-0 {
    margin-top: 0px;
  }
  .mt-xl-20 {
    margin-top: 20px;
  }
  .mt-xl-40 {
    margin-top: 40px;
  }
  .mb-xl-0 {
    margin-bottom: 0px;
  }
  .mb-xl-20 {
    margin-bottom: 20px;
  }
  .mb-xl-40 {
    margin-bottom: 40px;
  }
  .mr-xl-0 {
    margin-right: 0;
  }
  .ml-xl-0 {
    margin-left: 0;
  }
  .text-xl-left {
    text-align: left;
  }
  .text-xl-center {
    text-align: center;
  }
  .text-xl-right {
    text-align: right;
  }
}

@media all and (max-width: 992px) {
  .d-lg-none {
    display: none;
  }
  .mt-lg-0 {
    margin-top: 0px;
  }
  .mt-lg-20 {
    margin-top: 20px;
  }
  .mt-lg-40 {
    margin-top: 40px;
  }
  .mb-lg-0 {
    margin-bottom: 0px;
  }
  .mb-lg-20 {
    margin-bottom: 20px;
  }
  .mb-lg-40 {
    margin-bottom: 40px;
  }
  .mr-lg-0 {
    margin-right: 0;
  }
  .ml-lg-0 {
    margin-left: 0;
  }
  .text-lg-left {
    text-align: left;
  }
  .text-lg-center {
    text-align: center;
  }
  .text-lg-right {
    text-align: right;
  }
}

@media all and (max-width: 768px) {
  .d-md-none {
    display: none;
  }
  .mt-md-0 {
    margin-top: 0px;
  }
  .mt-md-20 {
    margin-top: 20px;
  }
  .mt-md-40 {
    margin-top: 40px;
  }
  .mb-md-0 {
    margin-bottom: 0px;
  }
  .mb-md-20 {
    margin-bottom: 20px;
  }
  .mb-md-40 {
    margin-bottom: 40px;
  }
  .mr-md-0 {
    margin-right: 0;
  }
  .ml-md-0 {
    margin-left: 0;
  }
}

@media all and (max-width: 576px) {
  .d-sm-none {
    display: none;
  }
  .h1, h1 {
    font-size: 1.75rem;
  }
  .h2, h2 {
    font-size: 1.75rem;
  }
  .h3, h3 {
    font-size: 1.5rem;
  }
  .h4, h4 {
    font-size: 1.5rem;
  }
  .h5, h5 {
    font-size: 1.25rem;
  }
  .h6, h6 {
    font-size: 1rem;
  }
  .text-sm-left {
    text-align: left;
  }
  .text-sm-center {
    text-align: center;
  }
  .text-sm-right {
    text-align: right;
  }
  .mt-sm-0 {
    margin-top: 0;
  }
  .mt-sm-20 {
    margin-top: 20px;
  }
  .mt-sm-40 {
    margin-top: 40px;
  }
  .mb-sm-0 {
    margin-bottom: 0px;
  }
  .mb-sm-20 {
    margin-bottom: 20px;
  }
  .mb-sm-40 {
    margin-bottom: 40px;
  }
  .mr-sm-0 {
    margin-right: 0;
  }
  .ml-sm-0 {
    margin-left: 0;
  }
}

.container {
  width: 100%;
  max-width: 1280px;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col, .no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media all and (max-width: 1400px) {
  .col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media all and (max-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media all and (max-width: 768px) {
  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media all and (max-width: 576px) {
  .col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.justify-content-end {
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.justify-content-between {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.header {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  padding: 10px 0;
}

.header .header__row {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.header .header__logo {
  width: 146px;
  height: 120px;
  background: url("../img/INKAM_logo.png") no-repeat left center/contain;
}

.header .contacts {
  text-align: right;
}

.header .form_search {
  width: 200px;
}

.contacts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts_inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts_inline .contacts__item + .contacts__item {
  padding-left: 30px;
}

.contacts .contacts__link_email {
  font-size: 12px;
  color: #0FB5BF;
  white-space: nowrap;
}

.contacts .contacts__link_phone {
  font-size: 22px;
  font-weight: 900;
  white-space: nowrap;
}

.navbar-toggle {
  display: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.navbar .navbar__item {
  padding: 20px;
}

.navbar .navbar__link {
  white-space: nowrap;
}

.navbar .navbar__link:hover, .navbar .navbar__link:focus {
  text-decoration: none;
}

.form {
  margin: 0;
  padding: 0;
}

.form_search {
  position: relative;
  max-width: 100%;
}

.form_search .input_search {
  padding-left: 46px;
}

.form_search .btn {
  font-size: 0;
  padding: 0 !important;
  margin: 0 !important;
  width: 24px;
  height: 24px;
  background: url("../img/magnify.svg") no-repeat center/contain;
  position: absolute;
  left: 16px;
  top: calc(50% - 12px);
}

.form_filter .select {
  margin-right: 15px;
  color: #899ea0;
}

.input {
  border: 1px solid #D1DFE0;
  outline: none;
  padding: 14px 18px;
  border-radius: 30px;
  width: 100%;
  max-width: 100%;
}

.input + * {
  margin-top: 1rem;
}

.input + .btn {
  margin-top: 1.5rem;
}

.select {
  border: 1px solid #D1DFE0;
  outline: none;
  padding: 8px 20px;
  padding-right: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none !important;
  background: url("../img/arrow-down.svg") no-repeat right center/12px;
  background-position-x: calc(100% - 10px);
}

.btn {
  background: none;
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 13px 32px 12px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.btn:hover {
  text-decoration: none;
}

.btn_action {
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

.btn_action:after {
  display: block;
  content: '';
  width: calc(100% + 100px);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: translateX(-80px);
  -ms-transform: translateX(-80px);
  transform: translateX(-80px);
  background: -o-linear-gradient(202.15deg, #0FB5BF 1.5%, #004E96 100%);
  background: linear-gradient(247.85deg, #0FB5BF 1.5%, #004E96 100%);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.btn_action:hover {
  color: #ffffff;
}

.btn_action:hover:after {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

.btn_default {
  color: #ffffff;
  background: #22BBC4;
}

.btn_default:hover {
  background: #1ea6ae;
}

.btn_full-width {
  width: 100%;
}

.modal {
  width: 600px;
  max-width: 100%;
  padding: 0;
}

.modal .modal__title {
  padding: 20px 40px;
  background: -o-linear-gradient(202.15deg, #0FB5BF 1.5%, #004E96 100%);
  background: linear-gradient(247.85deg, #0FB5BF 1.5%, #004E96 100%);
  color: #ffffff;
}

.modal .modal__content {
  padding: 20px 40px 30px;
}

.modal .modal__content p:last-child {
  margin-bottom: 0;
}

.footer {
  background: #1F2029;
  color: #ffffff;
  padding: 10px 0;
}

.footer .footer__row {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.footer .footer__logo {
  width: 100px;
  height: 80px;
  background: url("../img/INKAM_logo.png") no-repeat left center/contain;
}

.footer .navbar .navbar__link {
  color: #ffffff;
}

.footer .navbar .navbar__link:hover {
  color: #0FB5BF;
}

.footer .contacts .contacts__link_phone {
  color: #ffffff;
}

.footer .contacts .contacts__link_phone:hover {
  color: #0FB5BF;
}

.footer-info {
  padding: 6px 0;
  background: #23252f;
  color: #47495d;
}

.footer-info .footer-info__link {
  color: #47495d;
}

.advantage .advantage__item {
  padding: 16px 24px;
  color: #373540;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.advantage_with-icon .advantage__item {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 100px;
  height: 75px;
}

.advantage_with-icon .advantage__item:after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 75px;
  height: 100%;
  background: -o-linear-gradient(202.15deg, #0FB5BF 1.5%, #004E96 100%);
  background: linear-gradient(247.85deg, #0FB5BF 1.5%, #004E96 100%);
}

.advantage_with-icon .advantage__icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.advantage_with-icon .advantage__icon.position-1 {
  top: 20px;
  left: 25px;
}

.advantage_with-icon .advantage__icon.position-2 {
  top: 22px;
  left: 27px;
}

.advantage_with-icon .advantage__icon.position-3 {
  top: 27px;
  left: 24px;
}

.advantage_with-icon .advantage__icon.position-4 {
  top: 24px;
  left: 22px;
}

.advantage_with-icon .advantage__icon.position-5 {
  top: 24px;
  left: 24px;
}

.advantage_with-icon .advantage__icon.position-6 {
  top: 24px;
  left: 24px;
}

.service {
  background: #ffffff;
  border: 1px solid #D1DFE0;
  width: 100%;
}

.service .service__img {
  height: 60px;
  width: auto;
  margin: 0 auto 1rem;
}

.service .service__company {
  color: #A5B5B7;
}

.service_content-hover {
  position: relative;
  padding: 70px 40px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}

.service_content-hover .service__title {
  color: #373540;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.service_content-hover .service__content {
  position: absolute;
  background: #E5F2F2;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  opacity: 0;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.service_content-hover:hover .service__title {
  opacity: 0;
}

.service_content-hover:hover .service__content {
  opacity: 1;
}

.service_modal-btn {
  position: relative;
  padding: 70px 40px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.service_modal-btn .service__title {
  position: relative;
  color: #373540;
  z-index: 2;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.service_modal-btn:after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(202.15deg, #0FB5BF 1.5%, #004E96 100%);
  background: linear-gradient(247.85deg, #0FB5BF 1.5%, #004E96 100%);
  opacity: 0;
  z-index: 1;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.service_modal-btn:hover .service__title, .service_modal-btn:focus .service__title {
  color: #ffffff;
}

.service_modal-btn:hover:after, .service_modal-btn:focus:after {
  opacity: 1;
}

.service_bl-hide {
  border-left: none;
}

.service_bt-hide {
  border-top: none;
}

.service_bb-hide {
  border-bottom: none;
}

.service_project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 40px 20px;
}

.service_highlight {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 70px 40px;
}

.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding: 30px 20px;
}

.task .task__title {
  position: relative;
  color: #373540;
  line-height: 20px;
  padding-left: 40px;
}

.task .task__title:before {
  position: absolute;
  left: 0;
  top: calc(50% - 10px);
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  background: url("../img/plus-gradient.svg") no-repeat center/contain;
}

.task .task__tab-content {
  display: none;
  font-size: 12px;
  color: #373540;
  padding-top: 20px;
}

.task .task__tab-content p, .task .task__tab-content ul, .task .task__tab-content ol {
  font-size: 12px;
}

.task_tab {
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.task_tab .task__title {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.task_tab:hover {
  color: #0FB5BF;
}

.task_tab:hover .task__title {
  color: #0FB5BF;
}

.slider .slider__item {
  outline: none;
}

.slider .slider__item:hover, .slider .slider__item:focus {
  outline: none;
}

.slider .slick-slide {
  height: auto;
}

.slider .slick-arrow {
  width: 44px;
  height: 44px;
  z-index: 11;
  border: 1px solid #D1DFE0;
  padding: 8px;
}

.slider .slick-arrow.slick-prev {
  border-radius: 30px 0 0 30px;
  background: #ffffff url("../img/back.svg") no-repeat center/20px;
}

.slider .slick-arrow.slick-prev:before {
  content: '';
  display: none;
}

.slider .slick-arrow.slick-next {
  border-radius: 0 30px 30px 0;
  background: #ffffff url("../img/next.svg") no-repeat center/20px;
}

.slider .slick-arrow.slick-next:before {
  content: '';
}

.slider_logo {
  padding-right: 120px;
}

.slider_logo .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider_logo .slick-arrow {
  bottom: 0;
  top: auto;
}

.slider_logo .slick-arrow.slick-prev {
  left: auto;
  right: 43px;
}

.slider_logo .slick-arrow.slick-next {
  left: auto;
  right: 0px;
}

.slider_logo .slider__item {
  padding: 0 20px;
}

.slider_review {
  padding-bottom: 74px;
}

.slider_review .slick-arrow {
  bottom: -22px;
  top: auto;
}

.slider_review .slick-arrow.slick-prev {
  left: 0;
  right: auto;
}

.slider_review .slick-arrow.slick-next {
  left: 43px;
  right: auto;
}

.slider_catalog {
  border: 1px solid #D1DFE0;
  background: #E5F2F2;
  padding: 40px;
}

.slider_catalog .content__title {
  width: 700px;
  max-width: 100%;
}

.slider_catalog .slick-arrow {
  bottom: 0;
  top: auto;
}

.slider_catalog .slick-arrow.slick-prev {
  left: auto;
  right: 65px;
}

.slider_catalog .slick-arrow.slick-next {
  left: auto;
  right: 22px;
}

.block-header {
  padding: 90px 0;
  background: #E5F2F2 url("../img/bg-index.png") no-repeat right center/contain;
}

.block-header .header-block__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  width: 800px;
  max-width: 100%;
}

.block-header .header-block__title + .header-block__offer {
  margin-top: 30px;
}

.block-header .header-block__offer {
  font-size: 18px;
  line-height: 24px;
}

.block-header .advantage {
  margin-left: -10px;
  margin-right: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.block-header .advantage .advantage__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 240px;
  flex: 0 0 240px;
  max-width: 240px;
  margin: 10px;
}

.block-partners {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  padding: 10px 0;
}

.block-partners .heading {
  margin: 0;
}

.block-service {
  padding: 90px 0;
}

.block-service .block-service__block {
  padding: 40px;
  background: #ffffff;
  border: 1px solid #D1DFE0;
}

.block-task {
  padding: 90px 0;
}

.block-task .block-task__title {
  margin-bottom: 40px;
}

.block-task .task_1 {
  border-right: 1px solid #D1DFE0;
  border-bottom: 1px solid #D1DFE0;
}

.block-task .task_2 {
  border-right: 1px solid #D1DFE0;
  border-bottom: 1px solid #D1DFE0;
}

.block-task .task_3 {
  border-right: 1px solid #D1DFE0;
  border-bottom: 1px solid #D1DFE0;
}

.block-task .task_4 {
  border-bottom: 1px solid #D1DFE0;
}

.block-task .task_5 {
  border-right: 1px solid #D1DFE0;
}

.block-task .task_6 {
  border-right: 1px solid #D1DFE0;
}

.block-task .task_7 {
  border-right: 1px solid #D1DFE0;
}

.block-contact {
  padding: 90px 0;
}

.block-project {
  padding: 90px 0;
  background: #E5F2F2;
}

.block-project .block-project__col {
  width: 470px;
  max-width: 100%;
  padding: 40px 0;
}

.title {
  padding: 90px 0;
}

.title .heading {
  font-weight: bold;
  font-size: 88px;
  line-height: 90px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.3;
}

.news {
  padding: 50px 0;
  background: #E5F2F2;
}

.news-preview {
  position: relative;
  padding: 30px 40px 60px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.news-preview .news-preview__title {
  line-height: 1.4;
  text-transform: uppercase;
}

.news-preview .news-preview__intro {
  font-size: 12px;
  color: #373540;
}

.news-preview:after {
  position: absolute;
  left: 40px;
  bottom: 20px;
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  background: url("../img/arrow-news.svg") no-repeat left center/contain;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.news-preview:hover {
  text-decoration: none;
}

.news-preview:hover:after {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

.heading {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #A5B5B7;
  text-transform: uppercase;
}

.heading_small {
  font-size: 12px;
  line-height: 16px;
}

.subheading {
  font-weight: bold;
  font-size: 1rem;
  color: #373540;
  text-transform: uppercase;
}

.subheading-line {
  height: 4px;
  width: 46px;
  margin-left: 0;
  margin-bottom: 1.25rem;
  background: #373540;
}

.subheading-line_light {
  background: #D1DFE0;
}

.subheading-line_sidebar {
  margin: 24px 0 26px;
}

.subheading_light {
  color: #D1DFE0;
}

.error {
  padding: 90px 0;
}

.error .error__title {
  font-weight: bold;
  font-size: 72px;
  line-height: 74px;
}

.error .error__offer {
  font-size: 18px;
  line-height: 25px;
}

.error .line {
  margin: 40px auto;
  width: 200px;
  height: 1px;
  background: #A5B5B7;
}

.error .form_search {
  width: 300px;
  margin: 0 auto;
}

.content {
  padding: 60px 0;
}

.content .content__title {
  font-size: 44px;
  font-weight: bold;
  line-height: 1.1;
}

.content .content__contact {
  position: relative;
  padding-left: calc(100% - 300px);
  max-width: 100%;
  margin-left: auto;
}

.content .content__contact:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: calc((100% - 340px)/2);
  width: 1px;
  height: 100%;
  background: #D1DFE0;
}

.content .content__label {
  display: inline-block;
  padding: 6px 10px;
  background: #0FB5BF;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  border-radius: 4px;
  text-transform: uppercase;
}

.content .content__offer {
  color: #373540;
}

.content_offset {
  padding: 90px 0;
}

.content + .content {
  padding-top: 0;
}

.vendor-logo {
  padding: 20px;
}

.vendor {
  position: relative;
  padding: 90px 0 60px;
}

.vendor .vendor__item {
  position: relative;
  padding: 20px;
}

.vendor .vendor__modal {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 11;
  background: #1F2029;
  color: #ffffff;
  font-weight: bold;
  line-height: 18px;
  width: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.vendor .vendor__modal:hover {
  background: #0FB5BF;
}

.vendor .vendor__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 4px;
}

.vendor .vendor__link {
  color: #A5B5B7;
}

.catalog {
  padding: 0 0 60px;
}

.catalog .catalog__line {
  border-top: 1px solid #D1DFE0;
}

.solution {
  padding-top: 40px;
}

.solution .solution__image {
  position: relative;
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  background: #D1DFE0 url("../img/demo-solution.jpg") no-repeat center/cover;
}

.solution .solution__vendor-logo {
  width: auto;
  height: 28px;
  position: absolute;
  top: 12px;
  right: 12px;
}

.solution .solution__info {
  color: #A5B5B7;
}

.solution .solution__title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
