.task{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    padding: 30px 20px;
    .task__title{
        position: relative;

        color: $dark-blue;
        line-height: 20px; 

        padding-left: 40px;

        &:before{
            position: absolute;
            left: 0;
            top: calc(50% - 10px);

            display: block;
            content: '';

            width: 20px;
            height: 20px;

            background: url("../img/plus-gradient.svg") no-repeat center / contain;
        }
    }
    .task__tab-content{
        display: none;

        font-size: 12px;
        color: $dark-blue;

        padding-top: 20px;

        p, ul, ol{
            font-size: 12px;
        }
    }

    &_tab{
        cursor: pointer;
        transition: .3s;
        .task__title{
            transition: .3s;
        }
        &:hover{
            color: $blue;
            .task__title{
                color: $blue;
            }
        }
    }
}