.footer{
    background: $dark-grey;
    color: $white;
    padding: 10px 0;

    .footer__row{
        flex-wrap: nowrap;
    }

    .footer__logo{
        width: 100px;
        height: 80px;
        background: url("../img/INKAM_logo.png") no-repeat left center / contain;
    }
    .navbar{
        .navbar__link{
            color: $white;
            &:hover{
                color: $link-hover-color;
            }
        }
    }
    .contacts{
        .contacts__link{
            &_phone{
                color: $white;
                &:hover{
                    color: $link-hover-color;
                }
            }
        }
    }

    &-info{
        padding: 6px 0;
        background: lighten($color: $dark-grey, $amount: 2%);
        color: lighten($color: $dark-grey, $amount: 18%);
        .footer-info__link{
            color: lighten($color: $dark-grey, $amount: 18%);
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .footer{
        .contacts{
            flex-wrap: wrap;
            justify-content: flex-end;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .footer{
        .navbar{
            flex-wrap: wrap;
            justify-content: center;
            .navbar__item{
                padding: 6px 10px;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .footer{
        padding: 30px 0;
        .footer__row{
            flex-wrap: wrap;
            flex-direction: column-reverse;
            align-items: center;
        }
        .navbar{
            padding: 18px 0;
            .navbar__item {
                padding: 12px;
            }
        }
        .contacts{
            justify-content: center;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .footer{
        .navbar{
            flex-wrap: wrap;
            padding: 20px 0;

            .navbar__item {
                padding: 18px 10px;
                width: 100%;
                text-align: center;

                & + .navbar__item {
                    border-top: 1px solid $dark-blue;
                }
            }
        }
    }
}