.block-project{
    padding: 90px 0;
    background: $bg-light;

    .block-project__col{
        width: 470px;
        max-width: 100%;
        padding: 40px 0;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .block-project{
        padding: 40px 0;
    
        .block-project__col{
            padding-right: 40px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .block-project{
        padding: 40px 0;
    
        .block-project__col{
            padding: 0 0 40px;
        }
    }
}