html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Index Page
        link(href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap&subset=cyrillic" rel="stylesheet")
        link(href='./css/slick.css', rel='stylesheet')
        link(href='./css/slick-theme.css', rel='stylesheet')
        link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
        link(href='./css/style.css', rel='stylesheet')
    body
        include chunks/header.pug
        main
            section.bg-gradient.error
                .container.text-center
                    h1.error__title Ошибка 404
                    p.error__offer страница не найдена или не существует
                    .line
                    p.text-small Воспользуйтесь поиском или 
                        a.text-bold.link-white(href="/") вернитесь на главную страницу
                    form.form.form_search(action="")
                        input.input.input_search(placeholder="Поиск по сайту" type="search")
                        input.btn(type="submit")
        include chunks/footer.pug
        script(src="./js/jquery.min.js")
        script(src="./js/jquery.inputmask.js")
        script(src="./js/slick.min.js")
        script(src="./js/jquery.fancybox.min.js")
        script(src="./js/app.min.js")