html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Text Page
        link(href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap&subset=cyrillic" rel="stylesheet")
        link(href='./css/slick.css', rel='stylesheet')
        link(href='./css/slick-theme.css', rel='stylesheet')
        link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
        link(href='./css/style.css', rel='stylesheet')
    body
        include chunks/header.pug
        main
            section.content
                .container
                    .row
                        .col-9.col-md-12
                            h1 Odit aut rerum hic tenetur a sapiente delectus, ut
                            p Lorem ipsum dolor sit amet. Praesentium voluptatum deleniti atque corrupti. Ipsam voluptatem, quia non provident, similique sunt. Doloribus asperiores repellat. cumque nihil impedit, quo minus id, quod maxime. Aspernatur aut rerum necessitatibus saepe. Sit voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem eum fugiat. Hic tenetur a sapiente delectus, ut aliquid ex ea voluptate. Sint, obcaecati cupiditate non provident, similique sunt in ea voluptate velit esse.
                            h2 Заголовок h2
                            h3 Заголовок h3
                            h4 Заголовок h4
                            h5 Заголовок h5
                            h6 Заголовок h6
                            p Odit aut rerum hic tenetur a sapiente delectus, ut. Perferendis doloribus asperiores repellat. nam libero tempore, cum soluta nobis. Quidem rerum hic tenetur. Facilis est eligendi optio, cumque nihil impedit, quo minus. Voluptate velit esse, quam nihil. Iusto odio dignissimos ducimus, qui in culpa. Ex ea voluptate velit esse, quam nihil molestiae consequatur, vel illum. Sit, amet, consectetur, adipisci velit.
                            blockquote Lorem ipsum dolor sit amet. Praesentium voluptatum deleniti atque corrupti. 
                            p Odit aut rerum hic tenetur a sapiente delectus, ut. Perferendis doloribus asperiores repellat. nam libero tempore, cum soluta nobis. Quidem rerum hic tenetur. Facilis est eligendi optio, cumque nihil impedit, quo minus. Voluptate velit esse, quam nihil. Iusto odio dignissimos ducimus, qui in culpa. Ex ea voluptate velit esse, quam nihil molestiae consequatur, vel illum. Sit, amet, consectetur, adipisci velit.
                            ul
                                li list-item-1
                                li list-item-2
                                li list-item-3
                                li list-item-4
                                li list-item-5
                            p Lorem ipsum dolor sit amet. Praesentium voluptatum deleniti atque corrupti. Ipsam voluptatem, quia non provident, similique sunt. Doloribus asperiores repellat. cumque nihil impedit, quo minus id, quod maxime. Aspernatur aut rerum necessitatibus saepe. Sit voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem eum fugiat. Hic tenetur a sapiente delectus, ut aliquid ex ea voluptate. Sint, obcaecati cupiditate non provident, similique sunt in ea voluptate velit esse.
                            .table-responsive
                                table
                                    thead
                                        tr
                                            th название столбца 1
                                            th название столбца 2
                                            th название столбца 3
                                    tbody
                                        tr
                                            td ячейка 1
                                            td ячейка 2
                                            td ячейка 3
                                        tr
                                            td ячейка 1
                                            td ячейка 2
                                            td ячейка 3
        include chunks/footer.pug
        script(src="./js/jquery.min.js")
        script(src="./js/jquery.inputmask.js")
        script(src="./js/slick.min.js")
        script(src="./js/jquery.fancybox.min.js")
        script(src="./js/app.min.js")