.heading{
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;

    color: $grey;

    text-transform: uppercase;

    &_small{
        font-size: 12px;
        line-height: 16px;
    }
}
.subheading{
    font-weight: bold;
    font-size: 1rem;

    color: $dark-blue;

    text-transform: uppercase;    
    &-line{
        height: 4px;
        width: 46px;
        margin-left: 0;
        margin-bottom: 1.25rem;
        background: $dark-blue;
        &_light{
            background: $light-grey;
        }
        &_sidebar{
            margin: 24px 0 26px;
        }
    }

    &_light{
        color: $light-grey;
    }
}
// For 404 Page
.error-page{
    padding: 90px 0;
    .error-page__title{
        font-weight: bold;
        font-size: 72px;
        line-height: 74px;
    }
    .error-page__offer{
        font-size: 18px;
        line-height: 25px;
    }
    .line{
        margin: 40px auto;
        width: 200px;
        height: 1px;
        background: $grey;
    }
    .form_search{
        width: 300px;
        margin: 0 auto;
    }
}
// Default Padding
.content{
    padding: 60px 0;
    .content__title{
        font-size: 44px;
        font-weight: bold;
        line-height: 1.1;
    }
    .content__contact{
        position: relative;
        padding-left: calc(100% - 300px);
        max-width: 100%;
        margin-left: auto;

        &:before{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: calc((100% - 340px)/2);
            width: 1px;
            height: 100%;
            background: $light-grey;
        }
    }
    .content__label{
        display: inline-block;
        padding: 6px 10px;
        
        background: $blue;
        color: $white;

        font-size: 12px;
        font-weight: bold;
        line-height: 1;

        border-radius: 4px;
        text-transform: uppercase;
    }
    .content__offer{
        color: $dark-blue;
    }
    &_offset{
        padding: 90px 0;
    }

    & + .content.pt-0{
        padding-top: 0;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .content{
        .content__title{
            font-size: 34px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .content{
        padding: 40px 0;
        .content__contact{
            margin-left: 0;
            padding-left: 0;
            &:before{
                display: none;
            }
        }
        &_offset{
            padding: 60px 0;
        }
    }
    .error-page{
        padding: 60px 0;
        .error-page__title{
            font-size: 46px;
            line-height: 54px;
        }
        .error-page__offer {
            font-size: 14px;
            line-height: 18px;
        }
    }
}