.title{
    padding: 90px 0;
    .heading{
        font-weight: bold;
        font-size: 88px;
        line-height: 90px;
        text-transform: uppercase;

        color: #FFFFFF;

        opacity: 0.3;
    }
}